/** http://getbootstrap.com/getting-started/#support-ie10-width*/

@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

body {
	background: url('../images/random_grey_variations.png');
	font-family: 'Handlee', cursive;

}

h1, h2, h3, h4, h5 {
	font-weight: bold;
}
/*style for about page*/
header {
	color: white;
	text-align: center;
	margin-top: 50px; 
}

header h1 {
	font-size: 50px;
	text-shadow: 0 3px #2f2f2f, 0 5px #000;

}
.body-wrapper {
	/*background: url('../images/white_brick_wall.png');*/
	background-image: linear-gradient(to right, #f4f4f4 1px, transparent 1px), linear-gradient(to bottom, #f4f4f4 1px, transparent 1px);
	background-size: 70px 70px;
	background-color: white;
	border-left: 5px solid #333;
	width: 700px;
	height: 480px;
  box-shadow: 10px 10px 5px #333;
	color: #404751;
}

.content {
	display: inline-block;
	width: 400px;
	height: 460px;
	margin-left: 20px;
}

.content img {
	float: left;
	height: 150px;
	width: 200px;
	margin-right: 15px;
	margin-bottom: 15px;
	border-left: 5px solid #404751;
	padding-left: 5px;
}

.content p {
	border-left: 5px solid #404751;
	padding-left: 5px;
}
.category {
	display: inline-block;
	float: right;
	margin-top: -410px;
	margin-right: 105px;
}

.category ul {
	list-style: none;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	color: #888;
}
.category ng-md-icon {
	display: inline-block;
	vertical-align: middle;
	padding: 4px 2px;
	border-left: 5px solid #404751;
} /* align icons list and text */

.more {
	text-align: center;
}

/*style for showcase page*/

.to_do_list p {
	display: inline-block;
	padding-left: 10px;
}

.to_do_list .status {
	float: right;
	margin-right: 300px;
}